@import 'reset.css';

.container {
    width: 50%;
    height: 50vh;
    border: solid 4.5px purple;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 5% auto;
}

.container > div {
    width: 100px;
    height: 100px;
    border: solid .5px #333;
    display: flex;
    align-items: center;
    justify-content: center;
}


